:root {
  --theme-color: #2A877C;
}

.bg-main {
  background-image: url('@/static/images/bg/main.png');
  background-repeat: no-repeat;
  background-size: cover;
}

.bg-main1{
  background: #0C052F;
  // background-repeat: no-repeat;
  // background-size: cover;

}

.bg-recharge,
.bg-main2,
.bg-address {
  background-image: url('@/static/images/bg/address/bg.png');
  background-repeat: no-repeat;
  background-size: cover;
}

.bg-main3{
  background-image: url('@/static/images/bg/main3.png');
  background-repeat: no-repeat;
  background-size: cover;
}

.bg-main4{
  background-image: url('@/static/images/bg/main4.png');
  background-repeat: no-repeat;
  background-size: cover;
}

.bg-task {
  background-image: url('@/static/images/task/task_bg.png');
  background-repeat: no-repeat;
  background-position: top center;
  background-size: 100% auto;
  background-color: #01091C;
}

.bg-profile {
  background-image: url('@/static/images/profile/profile_top_bg.png');
  background-color: #121E3E;
  background-repeat: no-repeat, no-repeat;
  background-position: 0px -80rpx,top center;
  background-size: contain,contain;
}

.bg-account-section {
  // background-image: url('@/static/images/profile/account_bg.png');
  // background-image: linear-gradient(180deg, #2E89FF 0%, #004399 100%);
  background-repeat: no-repeat;
  background-size: cover;

  box-shadow: 0 8rpx 16rpx 0 rgba(57, 115, 191, 0.10);
}
.bg-card3{
  background-image: url('@/static/images/common/card_bg.png');
  background-size: 100% 100%;
  // box-shadow: 0 8px 0 0 #C5FFFC inset;
}

.bg-card {
  background: linear-gradient(180deg, #3A250F 0%, #1D140B 100%);
}

.bg-card1 { 
  background: #EBF6F0;
}
.bg-page {
  background: #EBF6F0;
}
.bg-card2 {
  background: linear-gradient(180deg, #515BD5 0%, #2935CC 100%);
  box-shadow: 0 0 100px 9px rgba(65, 138, 152, 0.10) inset;
}

.bg-pay-card {
  background: linear-gradient(90deg, #EFB04842 0%, #EFB04800 100%);
}

::v-deep {
  .uni-modal {
   background-color: theme('colors.neutral.showModal.bgColor') !important;
   .uni-modal__title {
     color: theme('colors.neutral.showModal.titleColor') !important;
   }
   .uni-modal__btn:active {
     background-color: transparent !important;
   }
   .uni-modal__bd {
     color: theme('colors.neutral.showModal.textColor') !important;
   }
   .uni-modal__footer {
     background-color: theme('colors.neutral.showModal.bgColor') !important;
     color: theme('colors.neutral.showModal.textColor') !important;
   }
  }
  .uv-line {
   background-color: theme('colors.neutral.showModal.bgColor') !important;
  }
  .uni-tabbar-bottom .uni-tabbar {
    border-top-left-radius: 0 !important;
    border-top-right-radius: 0 !important;
    overflow: hidden;
  }
}
.bg-tuiguang-card{
  background-image: url('@/static/images/tuiguangIcon/card_bg.png');
  background-repeat: no-repeat;
  background-size: cover;
}
.bg-page1 {
  background: linear-gradient(to bottom, #B3B3B3 0%, #1E1B1A 30%, #1E1B1A 100%);
  background-repeat: no-repeat;
  background-size: cover;
}
.bg-page2 {
  background: linear-gradient(to bottom, #1D4880 0%, #1E1B1A 30%, #1E1B1A 100%);
  background-repeat: no-repeat;
  background-size: cover;
}
.bg-page3 {
  background: linear-gradient(to bottom, #805C1D 0%, #1E1B1A 30%, #1E1B1A 100%);
  background-repeat: no-repeat;
  background-size: cover;
}
.bg-page4 {
  background: linear-gradient(to bottom, #461D80 0%, #1E1B1A 30%, #1E1B1A 100%);
  background-repeat: no-repeat;
  background-size: cover;
}

.bg-guess-number {
  background: linear-gradient(173deg, rgba(255, 206, 127, 0.69) 2.18%, rgba(255, 38, 56, 0.00) 24.15%), linear-gradient(153deg, rgba(255, 100, 57, 0.83) 10.75%, rgba(255, 47, 97, 0.83) 40.16%), #FE3845;
}

.input-bg {
  background-image: url('@/static/images/recharge/input_bg.png');
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

.input-bg2 {
  background-image: url('@/static/images/recharge/input_bg2.png');
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

.bg-wraper {
  background-image: url('@/static/images/recharge/rate_bg.png');
  background-size: 100% 100%;
  background-repeat: no-repeat;
}