:root {
  --theme-color: #2A877C;
}

.bg-main {
  background-image: url('@/static/images/bg/main.png');
  background-repeat: no-repeat;
  background-size: cover;
}

.bg-main1 {
  background-image: url('@/static/images/bg/main1.png');
  background-repeat: no-repeat;
  background-size: cover;
}

.bg-main2 {
  background-image: url('@/static/images/bg/main2.png');
  background-repeat: no-repeat;
  background-size: cover;
}

.bg-main3 {
  background-image: url('@/static/images/bg/main3.png');
  background-repeat: no-repeat;
  background-size: cover;
}

.bg-main4 {
  background-image: url('@/static/images/bg/main4.png');
  background-repeat: no-repeat;
  background-size: cover;
}

.bg-main5 {
  background-image: url('@/static/images/bg/main5.png');
  background-repeat: no-repeat;
  background-size: cover;
}
.bg-main6 {
  background-image: url('@/static/images/bg/main6.png');
  background-repeat: no-repeat;
  background-size: cover;
}
.bg-main7 {
  background-image: url('@/static/images/bg/main7.png');
  background-repeat: no-repeat;
  background-size: cover;
}
.bg-main8 {
  background-image: url('@/static/images/bg/main8.png');
  background-repeat: no-repeat;
  background-size: cover;
}

.bg-vip-bg01 {
  background-image: url('@/static/images/user/vip/vip_bg01.png');
  background-repeat: no-repeat;
  background-size: cover;
}

.bg-vip-bg02 {
  background-image: url('@/static/images/user/vip/vip_bg02.png');
  background-repeat: no-repeat;
  background-size: cover;
}

.bg-vip-bg03 {
  background-image: url('@/static/images/user/vip/vip_bg03.png');
  background-repeat: no-repeat;
  background-size: cover;
}

.bg-vip-bg04 {
  background-image: url('@/static/images/user/vip/vip_bg04.png');
  background-repeat: no-repeat;
  background-size: cover;
}

.bg-vip-bg05 {
  background-image: url('@/static/images/user/vip/vip_bg05.png');
  background-repeat: no-repeat;
  background-size: cover;
}

.bg-vip-bg06 {
  background-image: url('@/static/images/user/vip/vip_bg06.png');
  background-repeat: no-repeat;
  background-size: cover;
}

.bg-vip-bg07 {
  background-image: url('@/static/images/user/vip/vip_bg07.png');
  background-repeat: no-repeat;
  background-size: cover;
}

.bg-vip-bg08 {
  background-image: url('@/static/images/user/vip/vip_bg08.png');
  background-repeat: no-repeat;
  background-size: cover;
}

.bg-task {
  background-image: url('@/static/images/task/task_bg.png');
  background-repeat: no-repeat;
  background-position: top center;
  background-size: 100% auto;
  background-color: #01091C;
}

.bg-profile {
  background-image: url('@/static/images/profile/profile_top_bg.png'),linear-gradient(180deg, #EFF1F6 0%, #EFF1F6 100%);
  background-repeat: no-repeat, no-repeat;
  background-position: 0px -80rpx,top center;
  background-size: contain,contain;
}

.bg-vip-card {
  background-image: url('@/static/images/bg/vip_card_top.png');
  background-repeat: no-repeat;
  background-size: cover;
}
.bg-vip-card-bg {
  background-image: url('@/static/images/profile/bgVip_card_bg.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom center;
}
.bg-account-section {
  // background-image: url('@/static/images/profile/account_bg.png');
  background-image: linear-gradient(180deg, #2E89FF 0%, #004399 100%);
  background-repeat: no-repeat;
  background-size: cover;

  box-shadow: 0 8rpx 16rpx 0 rgba(57, 115, 191, 0.10);
}
.bg-card3{
  background: linear-gradient(180deg, #515BD5 0%,  #2935CC 100%);
  box-shadow: 0 8px 0 0 #C5FFFC inset;
}

.bg-card {
  background: linear-gradient(180deg, #3A250F 0%, #1D140B 100%);
}

.bg-card1 { 
  background: #EBF6F0;
}
.bg-page {
  background: #EBF6F0;
}
.bg-card2 {
  background: linear-gradient(180deg, #515BD5 0%, #2935CC 100%);
  box-shadow: 0 0 100px 9px rgba(65, 138, 152, 0.10) inset;
}

.bg-pay-card {
  background: linear-gradient(90deg, #EFB04842 0%, #EFB04800 100%);
}

::v-deep {
  .uni-modal {
   background-color: theme('colors.neutral.showModal.bgColor') !important;
   .uni-modal__title {
     color: theme('colors.neutral.showModal.titleColor') !important;
   }
   .uni-modal__btn:active {
     background-color: transparent !important;
   }
   .uni-modal__bd {
     color: theme('colors.neutral.showModal.textColor') !important;
   }
   .uni-modal__footer {
     background-color: theme('colors.neutral.showModal.bgColor') !important;
     color: theme('colors.neutral.showModal.textColor') !important;
   }
  }
  .uv-line {
   background-color: theme('colors.neutral.showModal.bgColor') !important;
  }
  .uni-tabbar-bottom .uni-tabbar {
    border-top-left-radius: 0 !important;
    border-top-right-radius: 0 !important;
    overflow: hidden;
  }
}
.bg-tuiguang-card{
  background-image: url('@/static/images/tuiguangIcon/card_bg.png');
  background-repeat: no-repeat;
  background-size: cover;
}
.bg-page1 {
  background: linear-gradient(to bottom, #B3B3B3 0%, #1E1B1A 30%, #1E1B1A 100%);
  background-repeat: no-repeat;
  background-size: cover;
}
.bg-page2 {
  background: linear-gradient(to bottom, #1D4880 0%, #1E1B1A 30%, #1E1B1A 100%);
  background-repeat: no-repeat;
  background-size: cover;
}
.bg-page3 {
  background: linear-gradient(to bottom, #805C1D 0%, #1E1B1A 30%, #1E1B1A 100%);
  background-repeat: no-repeat;
  background-size: cover;
}
.bg-page4 {
  background: linear-gradient(to bottom, #461D80 0%, #1E1B1A 30%, #1E1B1A 100%);
  background-repeat: no-repeat;
  background-size: cover;
}